@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,300;0,600;1,700&display=swap");

:root {
  /* Primary */
  --Blue: hsl(223, 87%, 63%);

  /* Secondary */
  --PaleBlue: hsl(223, 100%, 88%);
  --LightRed: hsl(354, 100%, 66%);

  /* Neutral */
  --Gray: hsl(0, 0%, 59%);
  --VeryDarkBlue: hsl(209, 33%, 12%);
}
* {
  margin: 0;
}
body {
  font-family: "Libre Franklin", sans-serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main section {
  width: 335px;
  text-align: center;
}
main section .logo {
  height: 18px;
  margin-bottom: 30px;
}
main section h1 {
  font-size: 24px;
  margin-bottom: 15px;
}
main section h1 span {
  color: var(--Gray);
  font-weight: 300;
}
main section .text {
  font-size: 13px;
  margin-bottom: 30px;
}
main section form {
  width: 100%;
  margin-bottom: 70px;
}
main section form input {
  display: block;
  font-family: "Libre Franklin", sans-serif;
  margin: 0 auto;
  border-radius: 20px;
  border: 1px solid var(--PaleBlue);
  outline: none;
  height: 40px;
  width: 74%;
  padding: 0 7%;
  margin-bottom: 10px;
}
main section form input::placeholder {
  color: hsla(0, 0%, 59%, 0.575);
}
main section form button {
  border: none;
  background-color: var(--Blue);
  cursor: pointer;
  color: white;
  border-radius: 20px;
  height: 42px;
  width: 88%;
  box-shadow: 0 5px 5px hsla(223, 87%, 63%, 0.301);
}
main section form button:hover {
  filter: brightness(130%);
  box-shadow: 0 5px 5px hsla(223, 87%, 63%, 0.219);
}
main section .illustration {
  width: 100%;
  margin-bottom: 120px;
}
footer .social_media {
  padding: 0;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  gap: 15px;
}
footer .social_media i {
  color: var(--Blue);
  border: 1px solid var(--PaleBlue);
  border-radius: 50%;
  height: 28px;
  width: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
footer .social_media i:hover {
  background-color: var(--Blue);
  color: white;
}
footer .copyright {
  color: var(--Gray);
  font-size: 11px;
}
.error_border {
  border: 1px solid var(--LightRed);
}
.error {
  color: var(--LightRed);
  font-size: 11px;
  margin-top: -5px;
  margin-bottom: 20px;
}
.attribution {
  display: none;
}

@media (min-width: 520px) {
  main section {
    width: 500px;
  }
  main section .logo {
    height: 21px;
  }
  main section h1 {
    font-size: 36px;
  }
  main section .text {
    font-size: 15px;
  }
  main section form {
    margin-bottom: 60px;
  }
  main section form input {
    display: initial;
    width: 55%;
    padding: 0 5%;
    margin-bottom: 0;
    margin-right: 8px;
  }
  main section form button {
    width: 32%;
  }
  main section .illustration {
    width: 100%;
    margin-bottom: 50px;
  }
  .error {
    position: absolute;
    margin-top: 5px;
    margin-left: 26px;
  }
}
